.header {
    position: fixed;
    top: 0;
    right: 0;
    height: 65px;
    width: calc(100vw - 270px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1e4062;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 9999;
  }
  
  
  
  
  
  
  .Header_icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  